@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}
header{
    background-color: #d0d6d5;
}
main{
    background-color: #e0e0e0;
}
.Secondary{
    color: #00705c;
}
.highlight{
    background-color: #7dffea;
}
